<div class="resources clearfix">
    <ul>
        <li class="css">
            <div>css</div>
            <ul>
                <li><a href="https://css-tricks.com">CSS-Tricks</a></li>
                <li><a href="http://fontawesome.io/">Font Awesome</a></li>
                <li><a href="https://icomoon.io/">Iconmoon</a></li>
                <li><a href="http://daneden.github.io/animate.css/">Animate.css</a></li>
                <li><a href="http://leaverou.github.io/animatable/">Animatable</a></li>
                <li><a href="http://browserhacks.com/">BrowserHacks</a></li>
                <li><a href="http://sass-guidelin.es/">Sass Guidelines</a></li>
            </ul>
        </li>
        <li class="js">
            <div>javascript</div>
            <ul>
                <li><a href="http://dailyjs.com/">DailyJS</a></li>
                <li><a href="http://javascriptweekly.com/issues">Javascript weekly</a></li>
                <li><a href="http://modernweb.com/">modernweb</a></li>
                <li><a href="http://www.jq22.com/">jQuery插件库</a></li>
                <li><a href="http://imakewebthings.com/deck.js/">deck(ppt)</a></li>
                <li><a href="https://github.com/Serhioromano/bootstrap-calendar">bootstrap-calendar</a></li>
                <li><a href="http://fullcalendar.io/">fullcalendar</a></li>
                <li><a href="http://mailru.github.io/FileAPI/">FileAPI</a></li>
                <li><a href="http://jscs.info/">JSCS</a></li>
            </ul>
        </li>
        <li class="other">
            <div>其它</div>
            <ul>
                <li><a href="https://www.surveymonkey.com/">SurveyMonkey</a></li>
                <li><a href="https://prezi.com/">Prezi</a></li>
                <li><a href="https://tinypng.com/">TinyPNG</a></li>
                <li><a href="https://www.talkingdata.com">TalkingData</a></li>
                <li><a href="https://github.com/dypsilon/frontend-dev-bookmarks">前端书籍集合</a></li>
                <li><a href="http://linuxcommand.org/index.php">Writing Shell Scripts</a></li>
                <li><a href="http://fullcalendar.io/">fullcalendar</a></li>
                <li><a href="http://alvarotrigo.com/fullPage/#firstPage">fullPage</a></li>
                <li><a href="http://www.catswhocode.com/blog/php-fast-and-easy-sql-queries-using-ezsql">ezSQL(common class) </a></li>
                <li><a href="http://flightphp.com/learn">Flight(RESTful php framework)</a></li>
                <li><a href="https://kimmobrunfeldt.github.io/progressbar.js/">Progressbar library</a></li>
                <li><a href="http://dynamicsjs.com/">Dynamics library</a></li>
            </ul>
        </li>
    </ul>
</div>
